.background {
  /* background-image: url("https://wallpaper.dog/large/20395922.jpg"); */
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/027/742/574/non_2x/circuit-board-dark-blue-technology-background-vector.jpg"); */
  background-image: url("https://wallpapers.com/images/hd/green-and-black-background-with-blue-line-rgq1ux4xrt3hqk9y.jpg");
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/008/555/265/original/soothing-fresh-green-pastel-color-background-with-abstract-elements-and-creative-tropical-plants-modern-trendy-social-media-template-free-vector.jpg"); */
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/011/426/070/non_2x/aesthetic-white-and-green-background-with-space-for-text-modern-background-design-with-liquid-shape-white-background-with-green-liquid-shapes-free-vector.jpg"); */
  width: 100%;
  background-attachment: fixed;
  position: static;
  
}
.backgroundimg {
  /* background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjcyMi1hdW0tMzFiXzFfMS5qcGc.jpg"); */
  background-attachment: fixed;
  width: 100%;
  height: 990px;
  background-position: center;
  opacity: 5;
}

.container {
  position: absolute;
  margin-top: -1000px;
  width: 100%;
}
.text1 {
  padding-left: 50px;
  padding-right: 18%;
  margin-top: 8%;
  margin-left: 18%;
  padding-top: 7%;
  width: 60%;
  background-color: rgba(229, 235, 233, 0.7);
  padding-bottom: 5%;
  font-size: 19px;
  border: 3px solid rgb(55, 172, 55);
  color: rgb(58, 91, 58);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.text {
  animation: fadeIn 2.5s ease-in-out;
  font-size: 24px;
  font-weight: bold;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.profilepic {
  float: right;
  margin-right: 10%;
  width: 26%;
  margin-top: -600px;
  border-radius: 50%;
  background-color: aliceblue;
  padding-bottom: -100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid rgb(44, 181, 44);
}

.about {
  width: 80%;
  background-color: antiquewhite;
  margin: auto;
  margin-bottom: 70px;
}
.react {
  display: inline-block;
  margin-top: 30px;
  width: 10%;
}
.vite {
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  width: 9%;
}
.js {
  width: 10%;
  display: inline-block;
  margin-top: 27px;
  margin-left: 10px;
}
.python {
  width: 8%;
  display: inline-block;
  margin-top: 29px;
  margin-left: 10px;
}
.fastapi {
  display: inline-block;
  width: 8%;
  margin-top: 29px;
  margin-left: 10px;
}
.contactButton {
  background-image: linear-gradient(to right, rgb(55, 172, 55), rgb(78, 114, 87));
  margin-left: 15%;
  width: 150px;
  height: 50px;
  color: aliceblue;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.3s;
  border: 2px solid rgb(54, 193, 54);
}

.contactButton:hover {
  /* background-color: rgb(138, 149, 163); */
  opacity: 0.6;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  margin-top: -100px;
}

.title {
  font-size: 80px;
  text-align: center;
  color: rgb(49, 197, 86);
  margin-top: -100px;

}
.title2{
  font-size: 80px;
  text-align: center;
  color: rgb(49, 197, 86);


}
@media (max-width: 600px) {
  .container{
    margin-top: -600px;
    margin-bottom: 40px;
  }
  .profilepic {
    width: 70%;
    margin-top: -1180px;
  
    margin-right: 60px;
    
  }
  .timeline{
    margin-top: -60px;
  }
  .text1 {
    width: 100%;
    margin: auto;
  }
  .projects {
    width: 100%;
    margin: auto;
  }
  /* .profilepic {
 opacity: 0;
  } */
  .text {
    margin: auto;
    font-size: 20px;
  }
  .react {
    width: 20%;
    margin-left: -10px;
  }
  .vite {
    width: 18%;
    margin-top: 25px;
  }
  .js {
    width: 18%;
  }
  .python {
    width: 16%;
  }
  .fastapi {
    width: 16%;
  }
  .contactButton {
    margin-top: 10px;
  }
  .title{
    margin-top: 240px;
  }
  .title2{
    margin-top: 50px;
    margin-bottom: 30px;
  }



}
