#root {
  max-width: 1680px;
  background-color: black;
}
.background {
  background-image: url("https://static.vecteezy.com/system/resources/previews/011/426/070/non_2x/aesthetic-white-and-green-background-with-space-for-text-modern-background-design-with-liquid-shape-white-background-with-green-liquid-shapes-free-vector.jpg");
  width: 100%;
  background-attachment: fixed;
  position: static;
  height: 990px;

}
.logo {
  width: 9%;
  float: left;
  margin-top: -10px;
  margin-left: 10px;
}
.nav-text {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(90, 140, 90);

  margin-right: 50px;
  padding-top: 10px;
}
.img-box {
  display: inline-block;
  /* width: 50%;
  height: 80%; */

  /* background-color: rgb(30, 30, 34); */
}

.home-img {
  width: 90%;
  /* margin-top: -80px; */
  margin-left: 30%;
  /* border-radius: 100%; */
}
.container1 {
  display: inline-block;
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/a5/fa/b7/a5fab706a5f27715f1e3ee477412b60b.jpg");

  /* background-color: rgb(30, 30, 34); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
}

.home-text {
  display: inline-block;
  width: 50%;
  float: right;
  /* margin-top: 0; */
  text-align: center;
  color: rgb(245, 215, 211);
  padding-top: 10%;
  /* background-color: rgb(30, 30, 34); */
}
.paragraph {
  width: 80%;
  margin: auto;
  word-spacing: 5px;
  animation: fadeIn 1s ease-in-out;
  font-size: 19px;
  line-height: 150%;
  text-align: left;
}

.contact-button {
  text-decoration: none;
  text-align: center;
  font-weight: bold;

  color: rgb(218, 217, 234);
  background-color: rgb(37, 46, 85);
  width: 150px;
  height: 40px;

  margin: auto;
  padding-top: 4px;

  border-radius: 9px;

  margin-bottom: 20px;
  transition: 0.5s;
  border: 2px solid rgb(244, 215, 206);
}
.contact-button:hover {
  background-color: rgb(251, 209, 209);
}
.about-box {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 80%;
  margin-top: 150px;
  margin-left: 10%;
  padding-left: 20px;
  background-color: rgba(48, 48, 73, 0.7);
  color: rgb(245, 215, 211);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.contact-container-main {
  display: flex;
  /* display: inline-block; */
  /* align-items: center; */
  width: 100%;
  height: 100%;
}
.contact-container {
  width: 40%;
  height: 500px;
  background-color: rgba(70, 105, 101, 0.8);
  color: rgb(249, 231, 228);
  margin: auto;
  text-align: center;
  margin-top: 8%;
  padding-top: 30px;
  padding-bottom: 40px;
  border: 2px solid white;
}
.input {
  text-align: center;
  color: grey;
  border-radius: 10px;
}
.input2 {
  color: grey;
  border-radius: 10px;
  width: 200px;
  margin-top: 20px;
  color: rgb(70, 95, 70);
  font-weight: bold;
}
.message {
  width: 250px;
  height: 100px;
  margin-top: 20px;
  border-radius: 10px;
  color: rgb(70, 95, 70);
  font-weight: bold;
}
.send {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: antiquewhite;
  color: rgb(70, 95, 70);
  font-weight: bold;
  font-size: 19px;
  transition: 0.5s;
  border-radius: 10px;
}
.send:hover {
  background-color: grey;
  color: white;
  border: 2px solid white;
}
.about-text {
  width: 200%;
  font-weight: bold;
  padding-top: 40px;
  padding: 40px;
  word-spacing: 5px;
  font-size: 19px;

  color: rgb(245, 220, 216);

  background-color: rgba(48, 48, 73, 0);
}
.info-title {
  margin: auto;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  background-color: rgb(48, 48, 73);
  color: rgb(241, 201, 208);
}
.info-box-about {
  display: flex;
  justify-content: space-around;
  /* margin-top: 50px; */
  text-align: center;

  width: 100%;
  height: 500px;
  background-color: rgb(48, 48, 73);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.titleProjects {
  color: rgb(62, 92, 46);
  margin-left: 45%;
  font-size: 60px;
  padding-top: 30px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: 300px;

  background-color: rgba(70, 105, 101, 0.8);
  width: 80%;
  margin: auto;

  padding: 7%;
  border: 2px solid white;
}
.card-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.image-card-1 {
  width: 100%;
  height: 300px;
}

/* .overlay1 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(71, 71, 100, 0.6);
} */

/* .card-1:hover .overlay1 {
  opacity: 1;
} */

.card-2 {

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}



.card-3 {
  padding-top: 15%;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

 
}
.image-card-3 {
  width: 100%;
  height: 200px;
}
.text-card-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.card-4 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.card-5 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.card-6 {
  padding-top: 20%;
 
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  
}
.card-7{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

}
.card-8{
  padding-top: 20%;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
 

}
.button{
  display: flex;

  width: 90px;
  margin-left: 39%;
  
  justify-content: center;
 
  background-color: rgb(68, 106, 75);
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
}
.button:hover{
  opacity: 0.8;
  background-color: rgb(149, 157, 187);
}

.h2-projects {
  color: rgb(249, 211, 218);
  margin-left: 45%;
  font-size: 60px;
  padding-top: 30px;
}
.photo_tailwind {
  color: white;
  float: right;
  margin-right: 10%;
  margin-top: -500px;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  padding: 2em, 3em;
}
.button1 {
  width: 150px;
  margin-left: 5%;
  text-align: center;
  background-color: rgb(68, 106, 75);
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid white;
}
.button1:hover {
  opacity: 0.8;
  background-color: rgb(84, 96, 139);
}
.button2 {
  width: 140px;
  background-color: rgb(68, 106, 75);
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid white;
}
.button2:hover {
  opacity: 0.8;
  background-color: rgb(84, 96, 139);
}
.vertical-timeline-element-title {
  font-weight: bold;
}
.date {
  color: white;
}
.vertical-timeline-element-subtitle {
  color: black;
}
.p {
  color: black;
  font-size: 18px;
}

@media (max-width: 600px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    width: 100%;
    
  }
  .card-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }
  .card-2 {
    padding-top: 20%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(10, 71, 71);
  }
  .card-3{
    padding-top: 20%;
   
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: aqua;
  }
  .card-4 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }
  .card-5 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }
  .card-6 {
    padding-top: 20%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .card-7 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }
  .card-8 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }


}
