@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

h1 {
  font-size: 5.2em;
  line-height: 1.1;
}

.thasadith-regular {
  font-family: "Thasadith", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.thasadith-bold {
  font-family: "Thasadith", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.thasadith-regular-italic {
  font-family: "Thasadith", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.thasadith-bold-italic {
  font-family: "Thasadith", sans-serif;
  font-weight: 700;
  font-style: italic;
}
